body{
    margin: 0;
    height: 100%;
    font-family:"roboto";
}
@font-face {
    font-family: "roboto";
    src: url(../roboto/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family:"viaoda Libre";
    src: url(../Viaoda_Libre/ViaodaLibre-Regular.ttf) format("truetype");
}
.img-content{
    width: 100%;
}
h1, h2{
    font-family:"viaoda Libre" ;
}

.top-header{
    padding: 0.1em;
    background-color: #162028;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.brand-title{
    margin: 0;
    font-family:viaoda Libre;
    color: white;
    text-transform: capitalize;
    font-size: 2.7em ;
    font-weight: normal;
}
.brand__container{
    margin-left: 11em;
}

.header__list{
    display:flex;
    gap: 3.5em;
    list-style-type: none;
    margin-right:2em;
    
}
.header__list li{
    display: inline-block;
    text-transform: uppercase;
    
}
.header__list li a{
    text-decoration: none;
    color:  #425564;
    letter-spacing:0.3em;
}

.header__list li a:hover{
    color:white;
}

.section-container{
    text-align: center;
    margin-bottom: 4em;
}

.section__title{
    color: #555;
    font-family:"viaoda Libre" ;
    font-size: 2em;
    margin-top: 3em;
}


.section__content{
    margin-left: auto;
    margin-right: auto;
    font-size:1em;
    color: #555;
    line-height: 2;
    text-align: center;
    width:62%;
    margin-bottom: 5em;
    
}

.models-container{
    display: flex;
    gap: 2em;
    justify-content: center;
}
.models-container p{
    color: #555;
}
.models{
    font-weight: bold;
    text-transform:uppercase;
}
.article-container{
    padding: 8em 6em 8em 6em;
    background-color: #003d52;
    background-image: url(../imagens/bg_detalhe.png);
    background-position: right bottom;


    background-repeat: no-repeat;
}
.article__title{
    margin-left: 1em;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 3.5em;
}
.article__content{
    
    color: white;
    margin-left: 3.5em;
    width:55%;
    line-height: 1.6;
}
.footer-container{
    padding:2em;
    text-align: center;
    background-color: #0b171f;
    color:#6f8597;

}